*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Logo{
  width: 55px;
  height: 55px;
  margin-right: 10px;
}
.titleBar{
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titleDetails{
  display: flex;
}
.addUserForm{
  margin: 20px 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  transition: 0.1s ease-in-out;
}
.addTitle{
  padding: 10px;
  margin: 10px;
}
.userForm{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Container{
  margin: 20px 50px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.searchBox{
  display: flex;
  flex-direction: row;
  align-items: center;
}